// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin TRANSITION {
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}

@mixin flexbox-container($hpos:center, $vpos:center) {
    display: flex;
    justify-content: $hpos;
    align-items: $vpos;
}