// -----------------------------------------------------------------------------
// This file contains header settings
// -----------------------------------------------------------------------------

// Foot color and background
footer {
	background:rgba(31, 32, 34, 0.804);
	color: white;
	text-align: center;
    height: 100px;
    width: 100%;
}