<link rel="stylesheet" href="public/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/fullPage.js/3.0.4/fullpage.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/imagehover.css/1.0/css/imagehover.min.css">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto' type='text/css'>